body {
}

#index-container {
    margin-top: 30px;
    height: 80vh;
    width: 60vw;
    border: 0.2vw solid #f0f0f0;
}

.option-panel {
    border: 0.1vw solid #f0f0f0;
    width: inherit;
    height: 80vh;
}

.process-list {
    height: 80vh;
    width: inherit;
    float:right;
    border: 0.1vw solid #f0f0f0;
    padding: 0.1vw;
    overflow: scroll;
    overflow-x: hidden;
}

.process-op {
    text-align: center;
    line-height: 7.5vh;
    font-size: 1.2vw;
    color: gray;
    height: 10vh;
    width: 12.5vw;
    border: 0.1vw solid #f0f0f0;
}

.process-entity {
    border: 0.1vw solid #f0f0f0;
    padding: 0.2vw;
    height: 10vh;
    width: 43vw;
}

    .process-entity > .process-brief {
        width: 20vw;
        text-align: center;
        font-size: 1.5vw;
        line-height: 6.5vh;
    }

    .process-entity > .process-detail {
        float: right;
        font-size: 0.7vw;
        line-height: 7.5vh;
    }
