<h1 class="h1">
    请假详情
</h1>
<div class="container thinContainer bigFont">
    <div class="row">
        <div class="col-xs-3">
            <div class="emphasize">请假发起者</div>
        </div>
        <div class="col-xs-9">shuidun</div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="emphasize">请假审批者</div>
        </div>
        <div class="col-xs-9">shuidun</div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="emphasize">请假开始时间</div>
        </div>
        <div class="col-xs-9">world</div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="emphasize">请假结束时间</div>
        </div>
        <div class="col-xs-9">world</div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="emphasize">前往地点</div>
        </div>
        <div class="col-xs-9">world</div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="emphasize">请假原因</div>
        </div>
        <div class="col-xs-9">world</div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="emphasize">拒绝原因</div>
        </div>
        <div class="col-xs-9">world</div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="emphasize">状态</div>
        </div>
        <div class="col-xs-9">world</div>
    </div>
</div>

<h3 class="h3 emphasize">审批</h3>
<div class="thinContainer" >
    <form class="form-horizontal">
        <div class="form-group">
            <input class="form-control" id="fromTime" placeholder="填写审核意见，如果同意请求，可不填写">
        </div>
        <div class="form-group">
            <div class="col-xs-6" style="padding-left:0">
                <button type="submit" class="btn btn-default">同意请求</button>
            </div>
            <div class="col-xs-6">
                <button type="submit" class="btn btn-default">拒绝请求</button>
            </div>
        </div>
    </form>
</div>