<h1 class="h1">
    同意成功，三秒后跳转
</h1>

<script type="text/javascript">
    setTimeout(function () {
        window.location.replace('@Url.Action("teacherListAbsence", "Absence")');
    }, 3000);
</script>