@{
    ViewData["Title"] = "Home Page";
}

@model KindergartenManagementSystem.ViewModels.HomeIndexList;

<link rel="stylesheet" href="~/css/home_index.css" />

<div class="container" id="index-container">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 option-panel">
            <div class="row">
                <div class="btn process-op">全部</div>
            </div>
            <div class="row">
                <div class="btn process-op">待审核</div>
            </div>
            <div class="row">
                <div class="btn process-op">已完成</div>
            </div>
            <div class="row">
                <div class="btn process-op">已终止</div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 process-list">
            @foreach (var item in Model.processes)
            {
            <div class="process-entity">
                @if (item.status == 0)
                {
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="color:darkorange">待审核</span>
                }
                else if (item.status == 1)
                {
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:lime">已完成</span>
                }
                else
                {
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:crimson">已终止</span>
                }

                <br />
                <span class="process-brief">
                    @item.starter 用户发起的
                    @if (item.type == 0)
                    {
                        <span>入托申请</span>
                    }
                    else
                    {
                        <span>请假申请</span>
                    }
                    流程
                </span>
                @if (item.type == 0)
                {
                    <a asp-controller="Enter" asp-action="EnterDetail" asp-route-id="@item.pro_id" class="process-detail">详细信息</a>
                }
                else
                {
                    //请假流程detail
                    <a asp-controller="Enter" asp-action="EnterDetail" asp-route-id="@item.pro_id" class="process-detail">详细信息</a>
                }
            </div>
            }





        </div>
    </div>
</div>