@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home_index.css" />

<div class="container" id="index-container">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 option-panel">
            <div class="row">
                <div class="btn process-op">全部</div>
            </div>
            <div class="row">
                <div class="btn process-op">待审核</div>
            </div>
            <div class="row">
                <div class="btn process-op">已完成</div>
            </div>
            <div class="row">
                <div class="btn process-op">已终止</div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 process-list">
            @* @foreach *@
            <div class="process-entity">
                <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:lime"></span>
                已完成<br />
                @*<span class="glyphicon glyphicon-pencil" aria-hidden="true" style="color:darkorange"></span>
            待审核<br />
                @*<span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:crimson"></span>
            已终止<br />*@
                <span class="process-brief">
                    xx用户发起的xx流程
                </span>
                <a href="/Enter/EnterDetail" class="process-detail">详细信息</a>
            </div>
        </div>
    </div>
</div>