<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div class="container" style="margin-top:10vh">
        <div class="form row">
            <form class="form-horizontal col-sm-offset col-md-offset-3"  method="post" enctype="multipart/form-data" asp-action="Register">
                <h3 class="form-title">注册</h3>
                <br>
                <div class="col-sm-9 col-md-9">
                    <div class="form-group">
                        <!--        用户名图标和用户名输入框            -->
                        <input class="form-control required" type="text" name="username" id="username" placeholder="请输入用户名" required>
                    </div>
                    <!--        密码图标和密码输入框                -->
                    <div class="form-group">
                        <input class="form-control required" type="password" name="password" id="password" placeholder="请输入密码" required>
                    </div>
                    <!--          确认密码              -->
                    <div class="form-group">
                        <input class="form-control required" type="password" name="resetpw" id="resetpw" placeholder="请确认密码" required>
                    </div>
                    <div class="form-group" id="teacher" style="display: none">
                        <input class="form-control" type="text" name="name" placeholder="请输入姓名" >
                        <br />
                        <input class="form-control" type="text" name="cla" placeholder="请输入负责班级">
                    </div>
                    <div class="err-msg">@ViewBag.ErrMsg</div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="auth" value=true checked onchange="ChooseStu()"> 学生用户
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="auth" value=false onchange="ChooseTeacher()"> 教师用户
                        </label>
                    </div>
                    <!--注册按钮-->
                    <div class="form-group">
                        <input type="button" onclick="window.location.href='/Login/Login'" class="btn btn-info" id="back_btn" value="返回" />
                        <input type="submit" value="注册" class="btn btn-success">
                    </div>

                </div>
            </form>
        </div>
    </div>

    <script>
        function ChooseTeacher() {
            $('#teacher').css('display', 'block');
            $("[name='name']")[0].setAttribute("required", "true");
            $("[name='cla']")[0].setAttribute("required", "true");
        } 

        function ChooseStu() {
            $('#teacher').css('display', 'none');
            $("[name='name']").removeAttr('required');
            $("[name='cla']").removeAttr('required');
        }
    </script>
</body>
</html>
