
@{
    ViewData["Title"] = "Index";
}

<div style="text-align:center;">
    <br><br><br><br><br><br><br><br>
    <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/EatScore/GetEatScore'">学生就餐评分</button>
    <br><br><br>
    <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/SeeEatScore/GetStudentList'">查看学生列表</button>
</div>
